html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

:root {
  --primary-color: #219db3;
  --dark-primary-color: #224c8b;
}

.container-fluid {
  padding: 1% 8%;
}

/*----------------------------------------------------------- Navbar Section -----------------------------------------------------------*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  color: #FFF;
  font-size: 35px;
  font-weight: bold;
  margin-left: -15px;
}

.navbar-brand span {
  color: var(--primary-color);
}

.navbar-brand:hover {
  color: #FFF;
}

.navbar-nav {
  display: flex;
  gap: 25px;
  font-size: 18px;
  font-weight: 700;
}

.nav-link {
  color: #FFF;
  transition: all 0.3s;
}

.nav-link:hover {
  color: var(--primary-color);
  text-decoration: underline 4px;
  transform: translateY(-8px);
}

.btn-nav {
  background-color: #FFF;
  padding: 10px 50px;
  border: none;
  border-radius: 25px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
}

.btn-nav:hover {
  color: #FFF;
  text-decoration: none;
  background-color: var(--dark-primary-color);
}

.btn-nav i {
  transition: all 0.5s;
}

.btn-nav:hover i {
  animation: translate 0.5s infinite alternate;
}

@keyframes translate {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-8px);
  }
}

/*----------------------------------------------------------- Hero Section -----------------------------------------------------------*/
.container-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc-hero {
  max-width: 550px;
  color: #FFF;
}

.desc-hero h1 {
  font-weight: 800;
  margin-top: 20px;
}

.desc-hero h1 span {
  color: var(--primary-color);
}

.desc-hero p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 35px;
}

.desc-hero p span {
  color: var(--primary-color);
}

.background-img {
  width: 400px;
  height: 250px;
  background-color: #1aec4e;
  background-image: url(/assets/Aguiar.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  animation: kick 1s infinite alternate;
  transition: all 0.4s;
}

.background-img:hover {
  box-shadow: 0px 0px 10px 5px #FFF;
}

@keyframes kick {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

.btn-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 39%;
  background-color: var(--primary-color);
  color: #FFF;
  font-weight: 700;
  font-size: 19px;
  border: none;
  border-radius: 25px;
  margin-top: 40px;
  transition: all 0.3s;
}

.btn-hero:hover {
  background-color: var(--dark-primary-color);
  color: #FFF;
  width: 45%;
  text-decoration: none;
}

/*------------------------------------------------------ Especiality Section ------------------------------------------------------*/
.title {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 30px;
  text-transform: uppercase;
}

.title span {
  color: var(--secondary-color);
}

.desc-especiality img {
  width: 80px;
  transition: all 0.4s;
}

.desc-especiality {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.especiality {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0.5px #272727;
  border-radius: 10px;
  padding: 10px;
  height: 250px;
  text-align: center;
  color: #FFF;
  transition: all 0.4s ease;
}

.especiality:hover {
  box-shadow: 0px 3px 8px 1px;
  transform: translateY(-8px);
}

.especiality h3 {
  font-weight: 700;
}

.especiality p {
  font-size: 18px;
  font-weight: bold;
}

/*------------------------------------------------------ About Section ------------------------------------------------------*/
.img-about img {
  width: 250px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 5px #FFF;
  border-radius: 20px;
  transform: rotate(45deg);
  margin-top: 60px;
  transition: all 0.3s;
}

.img-about img:hover {
  width: 280px;
}

.container-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc-about {
  max-width: 650px;
  color: white;
  margin-top: 70px;
}

.desc-about h1 {
  font-weight: bold;
}

.desc-about p {
  font-size: 18px;
}

.card {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.service {
  width: 300px;
  height: 450px;
  background-size: cover;
  background-position: 100% 0%;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  transition: background 5s;
  position: relative;
}

.service:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b7;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  opacity: 0;
  transition: all 0.4s;
}

.overlay:hover {
  opacity: 1;
}

.container-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.footer {
  margin-top: 30px;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  place-content: center;
}

.container-footer .navbar-brand {
  margin-left: 0;
}

.img-central img {
  width: 150px;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

a {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(-8px) scale(1.1);
  }
}

hr {
  width: 85%;
  border: solid 1px #FFF;
  margin: 30px auto;
}

.rodapé {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}